.main-container
    .intro
        h1= text.heading
        !=text.body
    ul.social
        each icon in icons
            li: a(href=icon.url target="_blank" title=icon.title): i(class="fa fa-" + icon.id, aria-hidden="true")
