meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
title #{name} | #{title}
meta(name="description" content="#{description}")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel="stylesheet" href="css/index.css")
link(href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet")
script(src="https://use.fontawesome.com/40e36f244f.js")
