meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
title #{name} | #{title}
meta(name="description" content="#{description}")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel="stylesheet" href="css/index.css")
link(href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
script(src="js/scripts.js")
